svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

/* want to see only ticks, remove horiz. line */
.xAxisHQ path {
    stroke-width: 0;
}


.xAxisHQ.white line {
     stroke: white;
 }

.xAxisHQ.white g text {
    fill: white;
}

.xAxisHQ.red line {
    stroke: red;
}

.xAxisHQ.red g text {
    fill: red;
}