svg {
  font: 18px sans-serif;
  shape-rendering: crispEdges;
}

/* Average Line & Label */
.averageLine {
  font-size: 18px;
  /* stroke: #116979;   */
  stroke: #505252;
}

.averageLabel {
  fill: #034955;
}

.bar {
  fill: #0db688;
  stroke: black;
}

.xAxisTC{

}

.bar:hover {
  fill: #0a8664;
}