svg {
  font: 15px sans-serif;
  shape-rendering: crispEdges;
}

/* AverageLine Label */
.averageLabel {
  fill: #034955;
}

.xAxisTC {}

.bar:hover {
  fill: #6fbf57;
}

.xAxisTC {
  font: 12px sans-serif;
}

.xAxisTC path,
.xAxisTC line {
  fill: none;
  stroke: darkslategrey;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.yAxisTC {
  font: 12px sans-serif;
}

.yAxisTC path,
.yAxisTC line {
  fill: none;
  stroke: darkslategrey;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}