svg {
  font: 15px sans-serif;
  shape-rendering: crispEdges;
}

text {
  font-size: 12px;
  fill: #fff;
}

/* AverageLine Label */
.averageLabel {
  fill: #fff;
  color: white;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

.xAxisTC {}

.bar:hover {
  fill: #6fbf57;
  stroke: gray;
}

.xAxisTC {
  font: 12px sans-serif;
}

.xAxisTC path,
.xAxisTC line {
  fill: none;
  stroke: darkslategrey;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.yAxisTC {
  font: 12px sans-serif;
}

.yAxisTC path,
.yAxisTC line {
  fill: none;
  stroke: darkslategrey;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}