#actionButtons>div {
  display: inline;
}

#actionButtons {
  margin-right: 2%;
  margin-left: 2%;
}

#test-table-xls-button {
  border-radius: 6px;
  color: beige;
  padding: 9px;
  background-color: green;
  margin-top: 0px;
  margin-left: 1%;
  margin-bottom: 0px;
  border: green;
}

.-btn {
  color: white !important;
  background-color: #215836 !important;
}

.ReactTable .rt-table {
  border: 2px solid #4E9360;
}



.ReactTable .rt-tr-group {
  font-size: 14px;
  font-family: arial;
  padding: 0;
}

.ReactTable .rt-tbody .rt-td {
  padding: 2px;
}

.ReactTable .rt-thead.-header {
  background-color: #4e9360;
  color: white;
  font-stretch: expanded;
  /* font-weight: 600; */
  height: 2em;
}

.ReactTable {
  width: 95%;
  margin-left: 2%;
  background: white;
}

.reportTitle {
  display: flex;
  justify-content: space-between;
}

.reportButton {
  background-color: darkgrey;
  color: white;
  font-family: "europa";
  padding: 10px;
  margin-left: 1%;
  border-radius: 6px;
  border: #007bff;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-left: 2.3rem;
  /* font-family: "europa"; */
  font-weight: 500;
  line-height: 1.2;
  color: slategrey;
  margin-top: 0;
}

.background {
  background-color: #e9ecef;
  padding-top: 25px;
}

.reactTable {
  background: white;
  width: 96%;
  margin-left: 2%;
  padding-top: 2%;
}

.pageTitle {
  background-color: #e9ecef;
  margin-top: 0;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  color: #343a40;
  padding-left: 10px;
  border-left: 4px solid #4e9360;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.logSelectionButton {
  background-color: cornflowerblue;
  color: white;
  margin-bottom: 9px;
  padding: 10px;
  border-radius: 6px;
  border: cornflowerblue;
}