/* #actionButtons>div>div {
  display: flex;
  flex-wrap: wrap;
} */

#actionButtons,
.data-view {
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
}

#actionButtons .btn ~ .ReactTable {
  margin-top: 9px;
}

.dateColumns {
  margin-left: 8px;
}

.selectDate {
  margin: 8px;
  margin-top: -2px;
  margin-bottom: -20px;
}

#test-table-xls-button {
  border-radius: 6px;
  color: beige;
  padding: 2px;
  background-color: green;
  margin-top: 0px;
  margin-left: 0.2%;
  margin-bottom: 9px;
  border: green;
}

.-btn {
  color: white !important;
  background-color: #215836 !important;
}

.ReactTable .rt-table {
  border: 2px solid #4e9360;
}

.ReactTable .rt-tr-group {
  font-size: 14px;
  font-family: arial;
  padding: 0;
}

.ReactTable .rt-tbody .rt-td {
  padding: 2px;
}

.ReactTable .rt-thead.-header {
  background-color: #4e9360;
  color: white;
  font-stretch: expanded;
  /* font-weight: 600; */
  height: 2em;
}

.ReactTable {
  width: 95%;
  margin-left: 2%;
  background: white;
}

.reportTitle {
  display: flex;
  justify-content: space-between;
}

.reportButton {
  background-color: darkgrey;
  color: white;
  font-family: "europa";
  padding: 4px;
  padding-bottom: 6px;
  margin-left: 0.2%;
  margin-bottom: 8px;
  border-radius: 6px;
  border: #007bff;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-left: 2.3rem;
  /* font-family: "europa"; */
  font-weight: 500;
  line-height: 1.2;
  color: slategrey;
  margin-top: 0;
}

.background {
  background-color: #e9ecef;
  padding-top: 25px;
}

.reactTable {
  background: white;
  width: 96%;
  margin-left: 2%;
  padding-top: 2%;
}

.pageTitle {
  background-color: #e9ecef;
  margin-top: 0;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  color: #343a40;
  padding-left: 10px;
  border-left: 4px solid #4e9360;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.logSelectionButton {
  background-color: cornflowerblue;
  color: white;
  margin-bottom: 9px;
  margin-left: 2%;
  padding: 10px;
  border-radius: 6px;
  border: cornflowerblue;
}

/* Buttons */
button {
  text-decoration: none;
  margin: 0 0px;
  font-family: Quicksand, sans-serif;
}

button + button {
  margin-left: 10px;
}

button.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #e3e3e3;
  border-color: rgba(0, 0, 0, 0.5);
}

button.btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}

/* blue button */

button.btn.btn-blue {
  margin-left: 2%;
  background-color: #699db6;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

button.btn.flat-button.btn-blue {
  background-color: #699db6;
}

/*button.btn.btn-blue:hover {*/
/*  background-color: #4f87a2;*/
/*  border-color: rgba(0, 0, 0, 0.5);*/
/*}*/

button.btn.btn-blue:active {
  background-color: #3c677b;
  border-color: rgba(0, 0, 0, 0.9);
}

/* green button */

button.btn.btn-green {
  background-color: #4e9358;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 13px;
}

button.btn.btn-green:hover {
  background-color: #008000;
  border-color: rgba(0, 0, 0, 0.5);
}

button.btn.btn-green:active {
  background-color: #043a08;
  border-color: rgba(0, 0, 0, 0.9);
}

.rt-thead.-filters {
  background-color: #1F673B;
}

.rt-td .green {
  background: #23FD5C;
}

.rt-td .blue {
  background: #29D4FC;
}

.rt-td .orange {
  background: #FFA751;
}

.rt-td .red {
  background: #FF6551;
}


button.btn.flat-button {
  background-color: #4f9358;
  transition: color .3s;
  line-height: 40px;
  color: #ffffff;
  height: 40px;
  font-size: 0.9em;
  position: relative;
  border: none;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.05em;
}

button.btn.flat-button:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 10%;
  background: black;
  content: '';
  transition: transform .3s;
}

button.btn.flat-button:hover::after {
  transform: translateY(10%);
  transition: transform .3s;
}

.legend {
  padding-right: 30px;
}

.legend .box {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #E9ECEF;
}

/* Collapse */
.collapse-css-transition {
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.data-view dl dt .info {
  font-size: 0.75em;
  font-family: Arial;
}

.data-view dl dd {
  font-weight: bold;
  padding: 8px 0;
}